<% provide(:title, "Sage Accounting Data") %>
<h1>Sage Accounting Data</h1>
<%= link_to "Make another call", sage_accounting_data_path, :class => "btn btn-primary" %>
<% if @error %>
<pre>
<%= JSON.pretty_generate(@error) %>
</pre>
<% else %>
<pre>
<%= @response == "" ? @response : JSON.pretty_generate(@response) %>
</pre>
<% end %>
