<h3>GET request</h3>
<form action="call_api" method="get" class="endpoint_form">
  <label for="get_endpoint">Endpoint</label>
  <input id="get_endpoint" name="get_endpoint" type="text" value="" class="form-control" required="true">
  <p>Example: accounts/v3/contacts</p>
  <%= button_to "GET", { :controller => "sage_one", :action => "call_api"}, {:class => "btn btn-primary"} %>
</form>
