<h3>POST request</h3>
<form action="call_api" method="post" class="endpoint_form">
  <label for="post_endpoint">Endpoint</label>
  <input id="post_endpoint" name="post_endpoint" type="text" value="" class="form-control" required="true">
  <p>Example: accounts/v3/contacts</p>
  <label for="post_data">POST data</label>
  <textarea id="post_data" name="post_data"></textarea>
  <p>Example:
    {
      "contact": {
        "name": "Wayne Gretzky's",
        "contact_type_ids": [
          "CUSTOMER"
        ]
      }
    }
</p>
  <%= button_to "POST", { :controller => "sage_one", :action => "call_api"}, {:class => "btn btn-primary"} %>
</form>
